# Required for generating feedback from the OpenAI's API (https://platform.openai.com/account/api-keys)
OPENAI_API_KEY= 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

# Optional: for rate-limiting the demo app (https://demo.useliftoff.com/) using Upstash (https://upstash.com/blog/upstash-ratelimit)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
